name: Terraform Lint and Format Check

on:
  push:
    paths:
      - '**.tf'
      - '**.tfvars'
      - '.github/workflows/terraform-lint.yml'
  pull_request:
    branches:
      - main
    paths:
      - '**.tf'
      - '**.tfvars'
      - '.github/workflows/terraform-lint.yml'

jobs:
  lint:
    uses: islamelkadi/reusable-cicd-workflows/.github/workflows/terraform-lint.yaml@main
    with:
      terraform_version: '1.14.3'
      tflint_version: 'latest'
      working_directory: '.'
